@import "tailwindcss";

:root {
  --background: #f8feff;
  --foreground: #ffffff;
  --primary: #040404;
  --secondary: #212121;
  --border: #61675a;
}

body {
  background: var(--background);
}

.bg-secondary {
  background-color: var(--secondary);
}
.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}

.text-heading {
  font-weight: 600;
  color: var(--primary);
}

.text-subheading {
  font-weight: 500;
  color: var(--secondary);
}
.text-body {
  font-weight: 400;
  color: var(--secondary);
}
.card {
  background-color: var(--foreground);
  border: 2px solid var(--border);
}
